.suggestion {
  cursor: pointer;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.suggestion:hover {
  background-color: grey;
}

.display {
  display: inline-block;
  flex-direction: row;
}

.float-container {
  padding: 20px;
}

.float-child {
  width: 50%;
  float: left;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-container {
  display: flex;
  flex-direction: row;
}

.BeerListItem-img {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 250px;
}

.BeerListItem-main-card {
  width: 390px;
  height: 400px;
}

.Button {
  background-color: green;
  color: white;
}
